<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <h1>likelion!</h1>
    <%= 5.times do
     puts "hack your life"
    end %>
</body>
</html>